<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmtdeJQKxoPmj0ljT_Nrf4xzDxM0BrT-s</string>
	<key>GCM_SENDER_ID</key>
	<string>985821235413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isitsafe.app</string>
	<key>PROJECT_ID</key>
	<string>is-it-safe-29b67</string>
	<key>STORAGE_BUCKET</key>
	<string>is-it-safe-29b67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985821235413:ios:079e0280c43f30035bfa5c</string>
</dict>
</plist>